body {
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    background: #fefefe;
    color: #1E0C57;
}
a {
    text-decoration: none;
    color: #1E0C57;
}
b, strong {
    font-weight: 900;
}

h1, h2, h3 {
    font-weight: 900;
}
h1 {
    font-size: 28pt;
}

h2 {
    font-size: 14pt;
    line-height: 18pt;
}
h3 {
    line-height: 18pt;
    font-size: 12pt;
}

h3.work {
    border-bottom: 1px solid #1E0C57;
}

ul {
    padding-left: 1.5em;
}


.icon {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px;
    vertical-align: middle;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

.left {
    width: 25%;
    float: left;
}

.right {
    width: 60%;
    float: right;
}

.center {
    width: 50%;
    margin: 0 auto 40px auto;
}

.bullets {
    display:block;
    border-bottom: 2px dotted #1E0C57;
    width: 100%;
}

.title {
    font-style: italic;
    font-size: 16pt;
}

.date {
    float: right;
}

.photo {
   width: 15em;
   margin: 15px auto;
   display: block;
}

.place {
    line-height: 12pt;
    font-size: 10pt;
    font-style: italic;
    color: darkslategray;
}